<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Conexoes Simultaneas" value="1"/>
		<add key="Conexoes por IP" value="1"/>
		<add key="Tamanho do Buffer" value="2048"/>
		<add key="Porta" value="5000"/>
		<add key="IP do Servidor" value="169.254.150.196"/>	
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
